@media (min-width: 768px) {
  .menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    /*15% de ocupação +ou- 2 a 3 colunas ocupadas*/
    width: 15%;
    height: 100vh;
    background-color: rgb(29, 29, 29);
    padding: 1rem;
    overflow-y: auto;
  }
}
.areal-principal {
  /*deixando 15% de espaço livre na esquerda para o menu lateral*/
  margin-left: 15%;
  /* 75% por que 25% já esta sendo usado pela barra lateral*/
  width: 85%;
  background-color: rgb(32, 32, 32);
}
.areal-principal-login {
  background-color: rgb(32, 32, 32);
}
.menu-principal-master {
  width: 100%;
  background-color: rgb(32, 32, 32);
}
.conteudo-principal {
  /*deixando 15% do espaço livre*/
  margin-left: 15%;
  /*Ocupando apenas 75%*/
  width: 75%;
  background-color: rgb(32, 32, 32);
}
.dois-por-doze {
  margin-left: 20%;
  width: 80%;
  background-color: #f74000;
}

/*Conteúdo principal do site*/
#card {
  margin-left: 5%;
  margin-top: 2%;
  width: 20%;
  background-color: black;
  border: 2px solid;
  border-image: linear-gradient(to right, #f74000, transparent) 1;
}
#card2 {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 20%;
  border: 2px solid;
  border-image: linear-gradient(to right, #f74000, transparent) 1;
  background-color: black;
}
.card-text {
  color: white;
}


.login-container {
  color: white;
}

#usuario {
  margin-top: 2%;
  margin-right: 4%;
  width: 15%;
  height: 15%;
}

#modal-usuario {
  margin-top: 14%;
  margin-right: 2%;
  height: 30%;
  width: 30%;
  background-color: rgb(32, 32, 32);
  border: 2px solid;
  border-image: linear-gradient(to right, #f74000, transparent) 1;
}

#login-form {
  color: white;
}
#cadastro-form {
  color: white;
}
#darkmode {
  margin-top: 2%;
  margin-right: 1%;
  width: 15%;
  height: 15%;
}

#img-foco {
  border: 2px solid;
  border-image: linear-gradient(to left, #f74000, transparent) 1;
  margin-left: 27%;
  margin-top: 2%;
  width: 45%;
  height: auto;
}

#titulo-produto {
  color: #f74000;
}

h1 {
  text-align: center;
  color: #f74000;
}

body {
  background-color: rgb(32, 32, 32);
}
